.goal{
    width:100%;
    // background:purple;
    display:flex;
    align-items: center;
    justify-content: center;
    height:140rem;
    .goalPad{
        width:90%;
        height:96%;
        background:#d6d6d6;
        border-radius:10rem;
    }   
   

}