.header{
    width:100%;
    // background:blue;
    display: flex;
    justify-content: space-between;
    padding:12rem;
    .logo{
        width:40%;

        display: flex;
    }

    .streakBtn{
       
        width:32rem;
        height:32rem;
        // background:pink;
        display: flex;align-items:center;
        justify-content: center;

        img{
            width:22rem;
            height:22rem;
        }
    }
}