.logoImage {
 
 
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  img {
    width: 75rem;
    height: 25rem;
  }
}

.logoText {
  color: #919bc9;
  font-weight: 900;
  font-size: 24rem;
  font-family: Helvetica;
  text-height: 12rem;
  span {
 
    color: #4e4e4e;
  }
}
