.footer{
    box-shadow: 1rem -2rem 1rem  rgba(162, 162, 162, 0.25);
    display: flex;
    padding: 8rem  0rem;
    justify-content: space-around;
    position: absolute;
    width:390rem;
    height:70rem;
    bottom:0;
    align-items: center;
}

.menuIcon{
    display: flex;
    flex-direction:column;
    align-items: center;
    gap:2rem;
    position: relative;
    cursor: pointer;
    .activeMenu{
        width:10rem;
        height:8rem;
        position: absolute;
        top:-16rem;
        border-bottom-left-radius: 50%;
        border-bottom-right-radius: 50%;
        background:#c85a5a;

    }
    img{
        width:18rem;
        height:18rem;
    }
    span{
        font-size:12rem;
        color:#919bc9;
    }
}